html {
    font-size: 62.5% /* This makes 1 rem = 10 px. Otherwise 1 rem was equal to 16 px. */
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: $m-size; /* ie. 10 px using the 62.5% defined above */
}

button {
    cursor: pointer; // This was set here, since it is to be applied to all buttons. We get the hand
}

button:disabled {
    cursor: default; // When the button is disabled, we get the pointer
}

.is-active {
    font-weight: bold;
}